import * as React from "react";

export default class @@name extends React.Component<void, void>{
	
	public render(){
		return (
			<div key="tmpl">
				I am react component @@name
			</div>	  
		);
	}
}